.example-header-image {
    background-image: url("//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png");
    background-size: cover;
}

.mat-card-image {
    max-width: 150px;
    min-width: 150px;
}

.icon-size {
    font-size: x-large;
}

.text-align-last {
    text-align-last: center;
}

.cursor {
    cursor: pointer;
    color: #d55845;
}
